@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
body {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(160deg, #48b49d, white);
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.robot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  align-self: normal;
  position: relative;
}

#robozin {
  border-radius: 40%;
  display: flex;
  width: 140px;
  height: 140px;
  background-position: center;
  position: absolute;
  animation-name: roboAnima;
  animation-duration: 3s;
}

#container {
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 3px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

inputs{

  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

#usuario {
  margin-bottom: 120px;
  background-color: rgb(82, 69, 69);
  border: none;
  height: 30px;
  width: 420px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  animation-name: anima;
  animation-duration: 3s;
}

#sala {
  position: absolute;
  height: 30px;
  width: 420px;
  background-color: rgb(82, 69, 69);
  border: none;
  border-radius: 5px;
  animation-name: anima;
  animation-duration: 2s;
  text-align: center;
  color: #ffffff;
}

::placeholder {
  color: rgb(189, 179, 179);
}

#entrar {
  margin-top: 120px;
  background-color: #4fc7ff;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 420px;
  position: absolute;
  animation-name: anima2;
  animation-duration: 3s;
  z-index: 2;
  transition: 200ms;
}

#entrar:hover {
  cursor: pointer;
  background-color: #4fffd8;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 1px 10px 10px 1px;
  font-weight: bold;
}

footer {
  border-color: red;
  position: absolute;
  margin-top: 410px;
  width: 400px;
  text-decoration: underline;
  border-top: 1px solid rgb(82, 69, 69);
  text-align: center;
  animation-name: anima3;
  animation-duration: 3s;
}



footer:hover {
  transition: 200ms;
  cursor: pointer;
  color: #4fffd8;
}

@media screen and (max-width: 720px) {
  footer p,
  footer a {
    font-size: 13px;
  }

  #usuario,
  #sala,
  #entrar {
    width: 320px;
  }
}

@keyframes anima {
  from {
    transform: translateX(900px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes anima2 {
  from {
    transform: translateY(900px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes anima3 {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}




b{
  margin-right: 4px;
  margin-left: 4px

  
}
@keyframes bubbleAnima {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

@keyframes roboAnima {
  0% {
    scale: 0;
  }
}

@media (max-width: 800px) {
  .bubble {
    font-size: 15px;
    width: 180px; 
    left: 130px;
    bottom: 80px;
  }

}
#sala{

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

@keyframes duvidaAnima {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}


