@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
body {
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(160deg, #48b49d, white);
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.robot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  align-self: normal;
  position: relative;
}

#robozin {
  border-radius: 40%;
  display: flex;
  width: 140px;
  height: 140px;
  background-position: center;
  position: absolute;
  animation-name: roboAnima;
  animation-duration: 3s;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
}

#usuario {
  margin-bottom: 120px;
  background-color: rgb(82, 69, 69);
  border: none;
  height: 30px;
  width: 420px;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  animation-name: anima;
  animation-duration: 3s;
}

#sala {
  position: absolute;
  height: 30px;
  width: 420px;
  background-color: rgb(82, 69, 69);
  border: none;
  border-radius: 5px;
  animation-name: anima;
  animation-duration: 2s;
  text-align: center;
  color: #ffffff;
}

::placeholder {
  color: rgb(253, 250, 250);
}

#entrar {
  background-color: #4fc7ff;
  margin-top: 120px;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  position: absolute;
  animation-name: anima2;
  animation-duration: 3s;
  z-index: 2;
  transition: 200ms;
}

#entrar:hover {
  cursor: pointer;
  background-color: #4fffd8;
  color: #ffffff;
  transform: scale(1.1);
  box-shadow: 1px 3px 3px 1px;
  font-weight: bold;
}

// footer {
//   border-color: red;
//   position: absolute;
//   margin-top: 410px;
//   width: 400px;
//   text-decoration: underline;
//   border-top: 1px solid rgb(82, 69, 69);
//   text-align: center;
//   animation-name: anima3;
//   animation-duration: 3s;
// }

// footer:hover {
//   transition: 200ms;
//   cursor: pointer;
//   color: #4fffd8;
// }

@media screen and (max-width: 720px) {
  footer p,
  footer a {
    font-size: 13px;
  }

  #usuario,
  #sala,
  #entrar {
    width: 300px;
  }
}

@keyframes anima {
  from {
    transform: translateX(900px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes anima2 {
  from {
    transform: translateY(900px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes anima3 {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

b {
  margin-right: 4px;
  margin-left: 4px;
}
@keyframes bubbleAnima {
  from {
    opacity: 0;
  }
  to {
    opacity: 10;
  }
}

@keyframes roboAnima {
  0% {
    scale: 0;
  }
}

@media (max-width: 800px) {
  .bubble {
    font-size: 15px;
    width: 180px;
    left: 130px;
    bottom: 80px;
  }
}
#sala {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@keyframes popupAnima {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// PARTICLES
#particles {
  background: #000000;
}

// HEXAGON GRID
#hexagonGrid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;

    &:nth-child(even) {
      margin-left: 2px;
    }

    .hexagon {
      position: relative;
      width: 100px;
      height: 110px;
      margin: 4px 2px;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.95;
        transition: 1s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        background: #141414;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
      }

      &:hover {
        &::before {
          background: #8cfd0b;
          opacity: 1;
          transition: 0s;
        }

        &::after {
          background: #000000;
        }
      }
    }
  }
}

#hexagonGridSith {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .row {
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;

    &:nth-child(even) {
      margin-left: 2px;
    }

    .hexagon {
      position: relative;
      width: 100px;
      height: 110px;
      margin: 4px 2px;
      clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000000;
        opacity: 0.95;
        transition: 1s;
      }

      &::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 4px;
        bottom: 4px;
        left: 4px;
        background: #141414;
        clip-path: polygon(
          50% 0%,
          100% 25%,
          100% 75%,
          50% 100%,
          0% 75%,
          0% 25%
        );
      }

      &:hover {
        &::before {
          background: #990000;
          opacity: 1;
          transition: 0s;
        }

        &::after {
          background: #000000;
        }
      }
    }
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  opacity: 0.8;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  background-color: rgb(54, 52, 52);
  border-radius: 9px;
  width: 460px;
  height: 500px;
  box-shadow: 10px 10px 10px 3px;
}

.popup {
  position: absolute;
  top: 78%;
  color: #1ff062;
  transition: 200ms;
  animation-name: duvidaAnima;
  animation-duration: 3s;
  padding-top: 10px;
}

.popup::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.popup:hover {
  color: #8cfd0b;
  cursor: pointer;
}
